<h2>
  Liczba kursów: {{ courses.length }}
</h2>
<ol>
  <li *ngFor="let course of courses;">{{ course }}</li>
</ol>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Imię i nazwisko:</label><br>
    <input class="form-control" id="name" type="text" name="name" formControlName="name"/>
  </div>
  <div class="form-group">
    <label for="number">Numer kursu:</label><br>
    <input class="form-control" id="number" type="number" name="number" formControlName="number"/>
  </div>
  <button class="btn btn-primary">Zapisz do kursu</button>
</form>
